<section id="dashboard">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-center mb-3">
        <div class="col flex-shrink-0 mb-2 mb-md-0">
            <h3 class="mb-0">Dashboard</h3>
            <div class="text-muted">Sales overview &amp; summary</div>
        </div>
      </div>
      <div class="row mt-3 mb-4">
          <div class="col-xxl-3 col-md-3">
              <div class="card card-raised bg-primary text-white">
                  <div class="card-body px-4">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="me-2">
                              <div class="display-5 text-white">101.1K</div>
                              <div class="card-text">Downloads</div>
                          </div>
                          <div class="icon-circle bg-white-50 text-primary"><i class="material-icons">download</i></div>
                      </div>
                      <div class="card-text">
                          <div class="d-inline-flex align-items-center">
                              <i class="material-icons icon-xs">arrow_upward</i>
                              <div class="caption fw-500 me-2">3%</div>
                              <div class="caption">from last month</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-3">
              <div class="card card-raised bg-warning text-white">
                  <div class="card-body px-4">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="me-2">
                              <div class="display-5 text-white">12.2K</div>
                              <div class="card-text">Purchases</div>
                          </div>
                          <div class="icon-circle bg-white-50 text-warning"><i class="material-icons">storefront</i></div>
                      </div>
                      <div class="card-text">
                          <div class="d-inline-flex align-items-center">
                              <i class="material-icons icon-xs">arrow_upward</i>
                              <div class="caption fw-500 me-2">3%</div>
                              <div class="caption">from last month</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-3">
              <div class="card card-raised bg-secondary text-white">
                  <div class="card-body px-4">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="me-2">
                              <div class="display-5 text-white">5.3K</div>
                              <div class="card-text">Customers</div>
                          </div>
                          <div class="icon-circle bg-white-50 text-secondary"><i class="material-icons">people</i></div>
                      </div>
                      <div class="card-text">
                          <div class="d-inline-flex align-items-center">
                              <i class="material-icons icon-xs">arrow_upward</i>
                              <div class="caption fw-500 me-2">3%</div>
                              <div class="caption">from last month</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-3">
              <div class="card card-raised bg-info text-white">
                  <div class="card-body px-4">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="me-2">
                              <div class="display-5 text-white">7</div>
                              <div class="card-text">Channels</div>
                          </div>
                          <div class="icon-circle bg-white-50 text-info"><i class="material-icons">devices</i></div>
                      </div>
                      <div class="card-text">
                          <div class="d-inline-flex align-items-center">
                              <i class="material-icons icon-xs">arrow_upward</i>
                              <div class="caption fw-500 me-2">3%</div>
                              <div class="caption">from last month</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row mb-4">
        <div class="col-xl-9 col-md-9">
            <div class="row">
                <div class="col-md-6"> 
                <div class="card card-raised h-100">
                    <div class="card-header card-raised bg-primary text-white px-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-4">
                            <h4 class="card-title text-white mb-0">Revenue Breakdown</h4>
                            <div class="card-subtitle">Compared to previous year</div>
                        </div>
                    </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row">
                        <canvas baseChart 
                                chartType="bar"
                                [datasets]="chart.datasets"
                                [labels]="chart.labels"
                                [options]="chart.options"
                                legend="true">
                        </canvas>
                        </div>
                    </div>
                </div>
                
                </div>
                <div class="col-md-6">
                    <div class="card card-raised h-100">
                    <div class="card-header card-raised bg-warning text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h4 class="card-title text-white mb-0">Count of Vechiles </h4>
                                <div class="card-subtitle">Compared to previous year</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row">
                            <canvas baseChart *ngIf="pieChartData"
                                [data]="pieChartData" 
                                [labels]="pieChartLabels" 
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [plugins]="pieChartPlugins"
                                [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 social-media">
            <div class="card">
                <div class="card-block text-center">
                    <i class="far fa-envelope"></i>
                    <h4 class="my-1"><span class="text-c-lite-green">8.62k</span>
                    Subscribers</h4>
                    <p class="mb-2">Your main list is growing</p>
                    <button class="btn btn-info btn-sm btn-round">Manage
                    List</button>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-block text-center">
                    <i class="fab fa-twitter"></i>
                    <h4 class="my-1"><span class="text-c-blgreenue">+40</span>
                     Followers</h4>
                    <p class="mb-2">Your main list is growing</p>
                    <button class="btn btn-success btn-sm btn-round">Check them
                    out</button>
                </div>
            </div>
        </div>
     </div>
   

    
      <div class="row">
          <div class="col-md-6"> 
            <div class="card card-raised h-100">
              <div class="card-header card-raised bg-secondary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h4 class="card-title text-white mb-0">Availability of Vechiles </h4>
                        <div class="card-subtitle">Compared to previous year</div>
                    </div>
                </div>
               </div>
               <div class="card-body p-4">
                  <div class="row">
                      <canvas baseChart 
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-raised h-100">
                <div class="card-header card-raised bg-info text-white px-4">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="me-4">
                          <h4 class="card-title text-white mb-0">Statistics  of Vechiles</h4>
                          <div class="card-subtitle">Compared to previous year</div>
                      </div>
                  </div>
                 </div>
                 <div class="card-body p-4">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-info mb-3">Dealer Details</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th><small>Dealer Name</small></th>
                                       <th><small>Make </small></th>
                                       <th><small>Count</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Empire Mazda of Huntington</td>
                                        <td>Mazda</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Test Buick Gmc Dealer</td>
                                        <td>Mazda</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>Empire Ford Lincoln of Abingdon</td>
                                        <td>Ford</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Century RV</td>
                                        <td>Rockwood</td>
                                        <td>37</td>
                                    </tr>
                                    <tr>
                                        <td>Test Hyundai Dealer</td>
                                        <td>Hyundai</td>
                                        <td>56</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
      </div>
    </div>

</section>

  
